.item-list-container {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .item-list-view-btn {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 10px;
  }
  