   .main{
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../styles/wp9448982.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
  .home{
      height: 100vh;
      width: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../styles/wp9448982.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      animation-name: animation1;
      animation-duration: 1s;
      color: white;
    }
  
  

  .header {
    height: 170px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
  }
  
  .header li ul a {
    font-size: 80px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    text-decoration: none;
  }
  
  .subhead {
    font-size: 15px;
    
  }
  
  .navbar ul li{
    display: inline-block;
    margin: 0 30px;
    position: relative;
  }

  .navbar ul li a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  .navbar ul li::after {
    content: '';
    height: 5px;
    width: 0%;
    background-color: rgb(176, 176, 255);
    transition: 0.35s all ease-in-out;
    position: absolute;
    left: 0;
    bottom: -5px;
  }

  .navbar ul li:hover::after { 
    width: 100%;
  }

  @keyframes animation1{
    0%{color: transparent;}
    100%{color: #ddd}
  }

  .actions {
    bottom: -50px;
    display: flex;
    position: relative;
    margin: 0 30px;
    justify-content: center;
  }
  
  
  .search-button,
  .scan-button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #1500ff;
    border-color: #ffffff;
    border-width: 5px;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.35s all ease-in-out;
  }
  
  .search-button:hover,
  .scan-button:hover {
    background-color: transparent;
    border-color: #fff;
    border-width: 5px;
    cursor: pointer;
  }

  .description{
    position: relative;
    bottom: 0px;
  }
  .Aboutinfo{
    text-align: center;
    position: relative;
    font-size: 23px;
  }
  .Aboutinfo h1{
    text-align: center;
    position: relative;
    font-size: 80px;
    margin-top: 0%;
  }
    

    
  