.item-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    color: black;
    background-image: linear-gradient(to right,rgb(176,176,255),rgb(49, 135, 255),rgb(0,0,0));
    font-size: large;
  }
  
  .item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-image:linear-gradient(to right ,rgb(148, 189, 255),rgb(0,0,0));
    border-color: black;
    border-radius: 8px;
    color: black;
    box-shadow: inset rgb(0, 0, 0);
    text-size-adjust: initial;
  }
  
  .item-header:hover{
    background-image: linear-gradient(to right, rgb(0,0,0),rgb(148, 189, 255));
    font: bolder;
    color: rgb(255,255,255);
  }

  .item-header-text {
    font-size: large;
    font-weight: bold;
  }
  
  .item-header-toggle {
    padding: 5px;
  }
  
  .item-details {
    padding: 10px;
  }
  
  .item-detail {
    display: flex;
    margin-bottom: 10px;
  }
  
  .item-detail-label {
    
    font-weight: bold;
    width: 150px;
    margin-right: 10px;
  }
  
  .item-detail-value {
    flex: 1;
  }
  
  .item-compliance {
    display: flex;
  }
  
  .item-compliance-detail {
    margin-right: 20px;
  }
  
  .item-children {
    padding-left: 20px;
  }
  