input[type="text"],
input[type="password"] {
  width: 90%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  align-items: center;
  position: relative;
  text-align: center;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #000000;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 8px;
  font-family: newfont1;
  position: relative;
}

input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border: rgb(0, 0, 0);
  font-family: newfont1;
  position: relative;
}

.button-container {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 8px;
  bottom: -60px;
}



.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}