@font-face {
  font-family: newfont1;
  src: url(../styles/Helvetica.ttf);
}

@keyframes animation2 {
  0% {background-color: transparent; border: transparent; color: transparent;}
  100% {background-color:white; border: 1px solid rgba(0, 0, 0, 0.2);color: black;}
}

input[type="text"],
input[type="password"] {
  width: 80%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);  
  border-radius: 8px;
  animation-name: animation2;
  animation-duration: 1.5s;
  position: relative;
}
.input-container,
.password-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  bottom: -50px;
  left: 100px;
}

.password-container{
  bottom: -70px;
}

.input-container label,
.password-container label{
  font-family: newfont1;
  font-size: 30px;
  font: bold;
}

input[type="submit"] {
  background-color: #1500ff;
  margin-top: 10px;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #000000;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: newfont1;
  position: relative;
  bottom: -100px;
  transition: 0.5s all ease-in-out;
}

input[type="submit"]:hover {
  background-color:transparent;
  border: rgb(0, 0, 0);
  font-family: newfont1;
  position: relative;
}

.button-container{
  text-align: center;
}


.error {
  color: red;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}